body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#1565C0,#42A5F5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.password {
  display: flex;
}

.password button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  background: #1565C0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dark {
  background: #121212;
}

.dark .card {
  background: #1e1e1e;
  color: white;
}